/* Import TailwindCSS */
@import "tailwindcss";

/* Diagnostic Styling 
- Delete when live to world (production phase)
*/
/* * {
  outline : 1px solid lightgray;
} */

#dish-text
{
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}

main
{
  font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
}